.watch-widget {
  position: absolute;
  top: 10px;
  padding: 10px;
  background-color: transparent;
  right: 10px;
  align-items: center;
  text-align: center;
  }

  .watch-widget button{
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: azure;
  }

  .watch-widget h2{
    padding: 0;
    margin: 0;
  font-size: 40px;
  color: azure;
  font-family: 'Oswald', sans-serif;
  }
  
  